
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header, footer {
    color: #fff;
    padding: 20px;
    text-align: center;
    background-color: #166d3b;
background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%);
}

.hover-effect {
    background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 26px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.hover-effect:hover {
    background-color:linear-gradient(147deg, #000000 74% , #166d3b 0%); 
}
.fa-facebook, .fa-square-twitter, .fa-linkedin{
    color: blue;
}
.fa-instagram, .fa-youtube{
    color: red;
}
nav a {
    text-decoration: none;
    color: #fff; 
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
    list-style: none;
}
.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    margin-right: 5px;
}

main {
    padding: 20px;
}

.contact-form {
    margin-bottom: 30px;
}

form {
    display: grid;
    grid-gap: 10px;
}

button {
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.contact-info {
    margin-bottom: 30px;
}

.social-media a {
    display: inline-block;
    margin-right: 10px;
    text-decoration: none;
}

.social-media a:hover {
    color: #fff;
}

footer {
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

footer div {
    flex: 1;
    margin-right: 20px;
}

footer a {
    color: black;
    text-decoration: none;
}

.recipe-details {
    padding: 20px;
}

.recipe-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.recipe-instructions,
.ingredients,
.cooking-tips,
.finished-dish-images,
.print-friendly-option {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
}

.recipe-instructions h3,
.ingredients h3,
.cooking-tips h3,
.finished-dish-images h3,
.print-friendly-option h3 {
    margin-bottom: 10px;
}

.finished-dish-images img {
    width: 100%;
    height: auto;
}

/* Adjust styling as needed */
